body{
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
}

#{headings()} {
  font: $headFont;
  color: $headColor;
  font-weight: $bold;
}
h1{
  font-size: 2em;
}
h3{
  color: $subHeadColor;
  font-size: 1em;
}
strong {
  font-weight: $bold;
}

p {
  font-weight: $thin;
  padding-bottom: 10px;
}