@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);

@include border-box-sizing; //uses border box sizing like old IE

$susy: (
  columns: 12,
  container: 60rem,
  gutters: 1/4,
  gutter-position: inside
);

$narrow:  400px;
$small: 650px;
$medium:  960px;
$wide:  1200px;

//Add Color Palette
$red    : #DF4848;
$dark   : #000000;
$grey   : #555555;
$light  : #FFFFFF;

$backgroundColor : $light;
$typeDefault     : $dark;

$fontfamily : 'Exo 2', 'Helvetica Neue', Helvetica, Arial,  sans-serif;

$thin : 200;
$normal : 400;
$bold : 600;
$heavy : 800;


$headFont : $thin 1.5em/1.3em $fontfamily;
$mainFont : $thin 1em/1.5em $fontfamily;
$headColor: $red;
$subHeadColor: lighten($grey, 20);